<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>카카오 맵</title>
  <script th:inline="javascript">
    var kakaoApiKey = /*[[${kakaoApiKey}]]*/ '';
  </script>
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=" + kakaoApiKey></script>
  <style>
    #map {
      width: 100%;
      height: 500px;
    }
  </style>
</head>
<body>
<h1>카카오 지도 API 예제</h1>
<div id="map"></div>

<script>
  kakao.maps.load(() => {
    var container = document.getElementById('map');
    var options = {
      center: new kakao.maps.LatLng(37.5665, 126.9780), // 기본 위치
      level: 3
    };
    var map = new kakao.maps.Map(container, options);

    // 📌 마지막 저장된 위치 불러오기
    var lastLat = localStorage.getItem("lastLat");
    var lastLng = localStorage.getItem("lastLng");

    if (lastLat && lastLng) {
      var lastPos = new kakao.maps.LatLng(lastLat, lastLng);
      map.setCenter(lastPos);

      var marker = new kakao.maps.Marker({ position: lastPos });
      marker.setMap(map);
    }

    // 📌 현재 위치 가져오기 및 저장
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;

        var currentPos = new kakao.maps.LatLng(lat, lon);
        map.setCenter(currentPos);

        var marker = new kakao.maps.Marker({ position: currentPos });
        marker.setMap(map);

        // 📌 마지막 위치 저장 (LocalStorage)
        localStorage.setItem("lastLat", lat);
        localStorage.setItem("lastLng", lon);
      });
    }
  });
</script>

</body>
</html>
